<!-- Contenedor de las cards -->
<div class="card-container">
  <!-- Card 1 -->
  <div class="card">
    <h2>Propuesta Entretenimiento</h2>
    <ul>
      <li>Propuesta 1</li>
      <li>Propuesta 2</li>
      <li>Propuesta 3</li>
    </ul>
  </div>

  <!-- Card 2 -->
  <div class="card">
    <h2>Propuesta Logistica</h2>
    <ul>
      <li>Propuesta 1</li>
      <li>Propuesta 2</li>
      <li>Propuesta 3</li>
    </ul>
  </div>

  <!-- Card 3 -->
  <div class="card">
    <h2>Propuesta Marketing</h2>
    <ul>
      <li>Propuesta 1</li>
      <li>Propuesta 2</li>
      <li>Propuesta 3</li>
    </ul>
  </div>
</div>
